/* Fichier CSS à personnaliser */

h1 {
    text-align: center;
    color: white;
    background-color: pink;
  }
  
h3 {
    text-align: center;
    color: white;
    background-color: pink;
  }

.special {
    color: orange;
    background-color: navy;
    border: solid black;
  }

.souligne {
    text-decoration: underline green;
}

#bloc1 {
    border: 5px solid purple;
    width: 40%;
    background-color: turquoise;
    color: white;
    padding:20px;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }